.todo_input_container {
  margin-top: 2rem;

  .input_container {
    display: flex;
    justify-content: center;

    input {
      width: 80%;
      padding: 4px;
      text-align: center;
      outline: 0;
      border: 0;
      border-bottom: 2px solid black;
      //   box-shadow: 1px 1px 5px;
    }

    .add_todo_btn {
      margin-left: 10px;
      padding: 4px 20px !important;
      box-shadow: 1px 1px 10px !important;
    }
  }
}
